.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container1 {
    display: flex;
    height: 100%;
    overflow-y: hidden;
}

.header-home {
    color: white;
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-search input {
    border: none;
    margin: 5px 35px 5px 35px;
    background-color: transparent;
    padding: 7px;
    height: 18px;
    width: 25vw;
    max-width: 500px;
    color: white;
    font-size: 1rem;
    outline: none;
}

#input-search {
    background-color: rgba(103, 103, 104, 0.425);
    border-radius: 20px;


    &:hover {
        background-color: rgba(110, 110, 112, 0.425);
        transform: scale(1.02);
    }
}

#iconHome{
    margin-right: 0.6vw;
    background-color: rgba(103, 103, 104, 0.425);
    padding: 9px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }
}

#iconHome img {
    width: 20px;
} 

.menu-lateral-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.library {
    height: 100%;
}

.library, .filter,.home-area {
    margin: 4px;   
}

.library, .filter, .home-area  {
    background-color: #181818cb;
    border-radius: 8px;
}

.library, .filter {
    display: flex;
    flex-direction: column;
    width: 263px;
    padding: 15px;
}

.home-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.nav-search div { 
    padding-bottom: 15px;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.nav-search span{
    margin-left: 15px;
    font-weight: 850;
    font-size: 15px;
}

.library-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.library-head > .center {
    text-decoration: none;
}
.yourLibrary {
    margin-left: 5px;
    color: white;
    font-weight: 850;
    font-size: 15px;
}

.plus:active {
    background-color: rgb(41, 40, 40);
}

.info-library {
    overflow-y: auto;
    max-height: 103px;
}

.info-library div {
    background-color: rgba(39, 38, 38, 0.76);
    color: white;
    font-size: small;
    padding: 5px;
    border-radius: 8px;
    display: block;
    flex-direction: column;
}

.button-infoLibrary {
    border: none;
    border-radius: 20px;
    padding: 8px;
    margin: 8px;
    font-weight: bold;
}

.info-library-div h4{
    font-size: medium;
    font-weight: bold;
    margin-bottom: 5px;
}

footer {
    padding: 0.7rem;
    color: white;
    background: linear-gradient(to right, rgb(230, 44, 215), rgb(131, 63, 177), rgb(132, 196, 221));
    height: 7.8vh;
    margin: 7px;
}

footer > button {
    border: none;
    border-radius: 20px;
    margin-right: 2.5vw;
    padding: 0.8rem;
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.4s ease; /* Transição suave para todas as propriedades */
    box-sizing: border-box; /* Garante que o padding extra não expanda o tamanho */
    
    &:hover {
        font-weight: 600;
        transform: scale(1.05); 
    }
}

.nav-bar > .center-col span {
    color: white;
    font-size: small;
    font-weight: 300;
}

.links-diversos {
    margin-top: 8px;
    font-size: small;
    color: rgb(226, 225, 225);
}

.links-diversos pre{
    margin: 5px;
    padding: 5px;
}
.links-diversos span {
    font-weight: bold;
    margin: 5px;
}

.links-diversos button {
    border-color: rgb(75, 74, 73);
    border-radius: 50px;
    background-color: transparent;
    color: white;
    padding: 4px;
    width: 100px;
    margin-top: 20px;
    margin-left: 8px;
    cursor: pointer;
}

.recomendacoesAlbuns {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recomendacoesAlbuns h2 {
    margin-left: 17px;
}


/**Medias**/
@media screen and (max-width: 575.98px){

    .menu-lateral-home, footer {
        display: none;
    }
    
    footer, footer > button {
        font-size: x-small;
    }

    footer > button {
        min-width: 20vw;
    }

}

@media screen and (max-width: 875.98px){
    .links-diversos, footer {
        display: none;
    }

}