.container-user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
}

.container-user-2 {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    max-height: 78%;
}

.header-home {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.home-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: max-content;
}

.logo {
    width: 33.3px;
    margin-left: 18px;
    cursor: pointer;
}

.area-lateral {
    margin: 6px;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-home img {
    padding-left: 18px;
    margin-top: 12px;
    margin-bottom: 15px;
}

.search-home,
.user-library,
.area-lateral {
    border-radius: 8px;
}

.search-home {
    padding-right: 18px;
    background-color: rgba(26, 25, 25, 0.952);
    margin-bottom: 8px;
}


.user-library {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 18px;
    overflow-y: auto;
    height: 100%;
    width: max-content;
    background-color: rgba(26, 25, 25, 0.952);
}

.lib-header {
    margin-top: 4px;
}

.player {
    height: 12%;
    margin-top: 5px;
    width: 100%;
}

.menu-library {
    margin-left: 60px;
}

.spanMenu {
    color: rgb(194, 192, 192);
    font-weight: 600;
    font-size: 15px;
    margin-left: 5px;
}

.spanMenu:hover {
    color: rgb(240, 234, 234);
}

.criar img {
    margin-left: 3vw;
    margin-right: 5px;
    padding: 5px;
    cursor: pointer;
}

.filterLibrary {
    margin-top: 20px;
    margin-right: 8px;
    margin-bottom: 18px;
}

.filterLibrary1 button {
    border: none;
    border-radius: 15px;
    font-weight: 900;
    color: rgb(221, 221, 221);
    background-color: #302f2f;
    width: 78px;
    padding: 9px;
    margin-right: 10px;
    cursor: pointer;
}

.filterLibrary1 button:hover {
    background-color: #383838;
}

.filterLibrary2 span {
    color: rgb(194, 192, 192);
    font-weight: 500;
    font-size: small;
    margin-left: 22px;
    margin-right: 5px;
}

.spanDescricaoTableResult {
    color: rgb(194, 192, 192);
    font-weight: 600;
    font-size: small;
    margin-right: 8px;
}

.divisor1 {
    margin-top: 5px;
    margin-right: 8px;
    border-bottom: 0.1rem solid gray;
}

.hideShow {
    cursor: pointer;
}

.container3 {
    display: none;
}

@media screen and (max-width:575.98px) {

    .area-lateral,
    .player {
        display: none;
    }

    .conteudo {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .container3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        background-color: rgba(26, 25, 25, 0.952);
    }

    .nav-bar-mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        color: white;
        padding-bottom: 10px;
    }
}