.container {
  height: 100vh;
  overflow: hidden;
}

.header-home {
  color: white;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-search {
  display: flex;
  flex-grow: 1;
}

.divImageHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 25px;
  margin-right: 15px;
  width: 10%;
}

.buttonsHomeHeader {
  display: flex;
  gap: 15px;
  margin-right: 12px;
  white-space: nowrap;
}


.subscribe-btn,
.login-btn {
  border: none;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
  transition: all 0.4s ease;
  padding: 15px 25px 15px 25px;
  border-radius: 22px;
}

.subscribe-btn {
  color: rgb(173, 169, 169);
  background-color: transparent;
}

.login-btn {
  color: black;
  background-color: white;
}

.subscribe-btn:hover,
.login-btn:hover {
  transform: scale(1.05);
}

.row-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  overflow: hidden;
}

.section_type_1 {
  height: 88%;
  display: flex;
  flex-direction: row;
}

aside {
  margin: 6px;
  max-height: 100%;
  width: 21.1%;
}

footer {
  padding: 0.7rem;
  color: white;
  background: linear-gradient(to right, rgb(230, 44, 215), rgb(131, 63, 177), rgb(132, 196, 221));
  height: 12%;
  margin: 6px;
}

footer>button {
  border: none;
  border-radius: 20px;
  margin-right: 2.5vw;
  padding: 0.8rem;
  font-size: medium;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s ease;
  /* Transição suave para todas as propriedades */
  box-sizing: border-box;
  /* Garante que o padding extra não expanda o tamanho */

  &:hover {
    font-weight: 600;
    transform: scale(1.05);
  }
}

.logo {
  width: 33.3px;
  cursor: pointer;
}

/**Medias**/
@media screen and (max-width: 575.98px) {
  .divImageHeader {
    display: none;
  }
}


@media screen and (max-width: 900.99px) {
  aside {
    display: none;
  }
  .buttonsHomeHeader {
    gap: 1px;
  }

  .subscribe-btn,
  .login-btn {
    padding: 8px 18px;
    font-size: x-small;
  }

  footer,
  footer>button {
    font-size: x-small;
  }
}

/*--------------------------------------------------------*/