.conteiner-user {
    max-height: max-content;
    overflow: hidden;
}

.conteiner-user-2 {
    display: flex;
    flex-direction: row;
}

.area-lateral {
    margin-top: 8px;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-home img {
    padding-left: 18px;
    margin-top: 12px;
    margin-bottom: 15px;
}

.search-home, .user-library, .area-principal, .area-lateral {
    border-radius: 8px;
}

.search-home{
    padding-right: 18px;
    background-color: rgba(26, 25, 25, 0.952);
    margin-bottom: 8px;
}


.user-library {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 18px;
    overflow-y: auto; 
    height: 100%;
    background-color: rgba(26, 25, 25, 0.952);
}

.lib-header {
    margin-top: 4px;
}

.area-principal {
    background-color: #302f2f;
    margin-top: 8px;
    margin-right: 5px;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 84vh;
    width: 100%;
}

.conteudo {
    overflow-y: auto; 
    height: 100%;    
    margin-top: 8px;
    padding: 5px;
    background-color: rgba(26, 25, 25, 0.952);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.player {
    position: absolute;
    margin-top: 5px;
    width: 100%;
    color: rebeccapurple;
}

.menu-library {
    margin-left: 60px;
}

.spanMenu {
    color: rgb(194, 192, 192);
    font-weight: 600;
    font-size: 15px;
    margin-left: 5px;
}

.spanMenu:hover {
    color: rgb(240, 234, 234);
}

.criar img {
    margin-left: 3vw;
    margin-right: 5px;
    padding: 5px;
}

.filterLibrary {
    margin-top: 20px;
    margin-right: 8px;
    margin-bottom: 12px;
}

.filterLibrary1 button {
    border: none;
    border-radius: 15px;
    font-weight: 900;
    color: rgb(221, 221, 221);
    background-color: #302f2f;
    width: 78px;
    padding: 9px;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}

.filterLibrary1 button:hover {
    background-color: #383838;
}

.filterLibrary2 span {
    color: rgb(194, 192, 192);
    font-weight: 500;
    font-size: small;
    margin-left: 22px;
    margin-right: 5px;
}

.spanDescricaoTableResult {
    color: rgb(194, 192, 192);
    font-weight: 600;
    font-size: small;
    margin-right: 8px;
}

.divisor1 {
    margin-top: 5px;
    margin-right: 8px;
    border-bottom: 0.1rem solid gray;
}

.hideShow {
    cursor: pointer;
}

