footer {
    color: white;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container1 {
    color: wheat;
    display: flex;
    height: 100%;
}

.menu-lateral-home {
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.library {
    height: 100%;
}

.library, .filter,.home-area {
    margin: 4px;   
}

.library, .filter, .home-area  {
    background-color: #181818cb;
    border-radius: 8px;
}

.library, .filter {
    display: flex;
    flex-direction: column;
    width: 263px;
    padding: 15px;
}

.home-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.nav-search {
    display: flex;
    flex-direction: column;
}

.nav-search div { 
    padding-bottom: 15px;
    color: white;
    cursor: pointer;
}

.nav-search span{
    margin-left: 15px;
    font-weight: 850;
    font-size: 15px;
}

.library-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: static;
}

.library-head > .center {
    text-decoration: none;
}
.yourLibrary {
    margin-left: 5px;
    color: white;
    font-weight: 850;
    font-size: 15px;
}

.plus:active {
    background-color: rgb(41, 40, 40);
}

.info-library {
    padding: 3px;
    overflow-y: auto;
    max-height: 105px;
}

.info-library div {
    background-color: rgba(39, 38, 38, 0.76);
    color: white;
    font-size: small;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.button-infoLibrary {
    border: none;
    border-radius: 20px;
    padding: 8px;
    margin: 8px;
    font-weight: bold;
}

.info-library-div h4{
    font-size: medium;
    font-weight: bold;
    margin-bottom: 5px;
}

footer {
    background: linear-gradient(to right, rgb(183, 43, 226), rgb(131, 63, 177), rgb(132, 196, 221));
    height: 70px;
    margin: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer > button {
    border: none;
    width: 100px;
    height: 45px;
    border-radius: 20px;
    margin: 20px;
    margin-right: 40px;
    font-size: medium;
    cursor: pointer;
}

.links-diversos {
    margin-top: 8px;
    font-size: small;
    color: rgb(226, 225, 225);
}

.links-diversos pre{
    margin: 5px;
    padding: 5px;
}
.links-diversos span {
    font-weight: bold;
    margin: 5px;
}

.links-diversos button {
    border-color: rgb(75, 74, 73);
    border-radius: 50px;
    background-color: transparent;
    color: white;
    padding: 4px;
    width: 100px;
    margin-top: 20px;
    margin-left: 8px;
    cursor: pointer;
}
/**---------------------------------------FORMATAÇÃO PÁGINA DE REGISTRO-----------------------------**/
.avisoErro {
    font-size: small;
    padding: 5px;
    color: rgb(194, 10, 10);
}

.container-registro {
    background-color: rgb(19, 19, 19);
    height: 100%;
    min-height: 100vh;
}

.logo-2 {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 32px 28px;
}

.logo-2 img{
    width: 105px;
}

.form-email, .form-registro {
    max-width: 300px;
    color: white;
}

.form-email h1, .form-registro h1{
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 50px;
}

.form-email form, .form-registro form {
    display: flex;
    flex-direction: column;
}

.form-email form > input, .form-registro form > input, .data-nascimento input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    color: rgb(238, 238, 238);
    font-weight: 600;
    height: 32px;
    background-color: transparent;
}

.form-email form > a, .form-registro form > a {
    text-decoration: underline;
    color: #1db954;
}

.avancar-registro, .registro {
    margin-top: 22px;
    padding: 18px;
    border: none;
    border-radius: 25px;
    background-color: #1db954;
    font-weight: 900;
    cursor: pointer;
}

.form-email hr, .form-registro hr{
    margin-top: 40px;
    margin-bottom: 30px;
}

.form-email span, .form-registro span {
    color: rgb(92, 92, 92);
}

.form-email span > a, .form-registro span > a {
    margin-left: 3px;
    color: white;
    text-decoration: underline;
    font-weight: 400;
}
.form-registro div {
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 600;
}

.voltar{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.span-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 form > p {
    font-size: 0.9rem;
 }

.data-nascimento {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dia-nascimento{
    width: 48px;
    margin-right: 12px;
 }

#ano-nascimento {
    width: 85px;
    margin-left: 12px;
}

#mes-nascimento {
    height: 50px;
    background-color: transparent;
    color: white;
}

.selecaoGenero label {
    font-weight: 300;
    padding: 2px;
    margin-right: 55px;
}

.selecaoGenero label > input {
    margin-right: 5px;
}

.selecaoGenero label >input[type="radio"] {
    background-color: transparent;
}

.termosCondicoes label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-bottom: 8px;
    background-color: rgb(36, 35, 35);
    font-weight: 100;
    font-size: medium;
}

.termosCondicoes label>input[type="checkbox"] {
    margin-right: 12px;
}
