* {
    margin: 0;
    font-family: 'Helvetica Neue',Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #000000;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-start{
    display: inline-block;
    align-items: center;
}

.center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centerStartColumn {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.spaceAround {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.spaceBetweenRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spaceBetweenColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.spaceBetweenColumn2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
}

.hiden {
    display: none;
}

/* Estilizando a scrollbar no Chrome, Edge e Safari */
::-webkit-scrollbar {
    width: 12px; /* largura da scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* cor de fundo da track */
}

::-webkit-scrollbar-thumb {
    background: #888; /* cor do thumb (barra de rolagem) */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* cor do thumb quando hover */
}

* {
    scrollbar-color: #888 #f1f1f1;
    scrollbar-width: thin; /* largura da scrollbar */
}

/* Thumb */
*::-webkit-scrollbar-thumb {
    background: #888; /* cor do thumb */
}

*::-webkit-scrollbar-thumb:hover {
    background: #555; /* cor do thumb quando hover */
}
