* {
    margin: 0;
    font-family: 'Helvetica Neue',Arial, Helvetica, sans-serif;
}

body {
    background-color: #000000;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}