* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue',Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #000000;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-start{
    display: inline-block;
    align-items: center;
}

.center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centerStartColumn {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.spaceAround {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.spaceAround2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.spaceBetweenRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.spaceBetweenColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.spaceBetweenColumn2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hiden {
    display: none;
}


/*Grids*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/* Estilizando a scrollbar no Chrome, Edge e Safari */
::-webkit-scrollbar {
    width: 3px; /* largura da scrollbar */
}

::-webkit-scrollbar-track {
    background: #6b6b6b; /* cor de fundo da track */
}

::-webkit-scrollbar-thumb {
    background: #888; /* cor do thumb (barra de rolagem) */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* cor do thumb quando hover */
}

* {
    scrollbar-color: #888 #444343;
    scrollbar-width: thin; /* largura da scrollbar */
}

/* Thumb */
*::-webkit-scrollbar-thumb {
    background: #888; /* cor do thumb */
}

*::-webkit-scrollbar-thumb:hover {
    background: #555; /* cor do thumb quando hover */
}
